<!DOCTYPE html>
<html>
<head>
    <script data-main="{{ asset("#{prefix}/elfinder/main.default.js")}}" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.min.js"></script>
</head>
<body>
<script type="text/javascript" charset="utf-8">
    function getUrlParam(paramName) {
        var reParam = new RegExp('(?:[\?&]|&amp;)' + paramName + '=([^&]+)', 'i') ;
        var match = window.location.search.match(reParam) ;

        return (match && match.length > 1) ? match[1] : '' ;
    }
    var funcNum = getUrlParam('CKEditorFuncNum');
    var mode = getUrlParam('mode');
    define('elFinderConfig', {                
            defaultOpts : {
                url : '{{path('ef_connect', {'instance': instance, 'homeFolder': homeFolder })}}'+'?mode='+mode,
                lang : '{{locale}}',
                onlyMimes: {{ onlyMimes|raw }},
                getFileCallback : function(file) {
                    if (funcNum) {
                        {% if relative_path %}
                            window.opener.CKEDITOR.tools.callFunction(funcNum, '{{ pathPrefix }}'+file.url.replace("{{ app.request.schemeAndHttpHost }}/", ""));
                        {% else %}
                            window.opener.CKEDITOR.tools.callFunction(funcNum, file.url);
                        {% endif %}
                        window.close();
                        }
                    },
                bootCallback : function(fm, extraObj) {
                    /* any bind functions etc. */
                    fm.bind('init', function() {
                        // any your code
                    });
                    // for example set document.title dynamically.
                    var title = document.title;
                    fm.bind('open', function() {
                        var path = '',
                            cwd  = fm.cwd();
                        if (cwd) {
                            path = fm.path(cwd.hash) || null;
                        }
                        document.title = path? path + ':' + title : title;
                    }).bind('destroy', function() {
                        document.title = title;
                    });
                }
            },
            managers : {
                // 'DOM Element ID': { /* elFinder options of this DOM Element */ }
                'elfinder': {}
            }
        });
        {% if fullscreen %}
        window.addEventListener('resize', function(event) {
            var h = window.screen.height;
            var ef = document.getElementById('elfinder');
            if(ef.clientHeight != h - 20){
                ef.style.height(h - 20);
            }
        }, true);        
        {% endif %}
</script>
<div id="elfinder"></div>
</body>
</html>
