<!DOCTYPE html>
<html>
<head>
    <script data-main="{{ asset("#{prefix}/elfinder/main.default.js")}}" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.min.js"></script>
</head>
<body>
<script type="text/javascript" charset="utf-8">
    $().ready(function() {
        var $f = $('.elfinder').elfinder({
            url : '{{path('ef_connect', { 'instance': instance, 'homeFolder': homeFolder } )}}',
            lang : '{{locale}}',
            onlyMimes: {{ onlyMimes|raw }},
            getFileCallback: function(file) {
                {% if relative_path %}
                    window.opener.setValue('{{ pathPrefix }}'+file.url.replace("{{ app.request.schemeAndHttpHost }}/", ""), "{{ id }}");
                {% else %}
                    window.opener.setValue(file.url, "{{ id }}");
                {% endif %}
                window.close();
            }
        });


    {% if fullscreen %}
    var $window = $(window);
    $window.resize(function(){
        var $win_height = $window.height();
        if( $f.height() != $win_height ){
            $f.height($win_height).resize();
        }
    });
    $window.resize();
    {% endif %}
    });
</script>
<div id="elfinder"></div>
</body>
</html>
